@import "tailwindcss";

@theme {

  --color-brand-orange: #FF5500;     
  --color-brand-amber: #FF9900;       
  --color-brand-dark: #05050A;       
  --color-brand-slate: #0F172A;    

  --font-sans: "Roboto", "Arial", sans-serif;

  --shadow-glow-orange: 0 0 20px rgba(255, 85, 0, 0.4);
  --shadow-glow-soft: 0 0 15px rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--color-brand-dark);
  color: #F8FAFC; 
  font-family: var(--font-sans);
  margin: 0;
  overflow-x: hidden;
}